[Unit]
Description=Server for listening on 8080 port

[Service]
User=rebrain
ExecStart=/usr/bin/go run .
WorkingDirectory=/home/rebrain/go
Restart=always
RestartSec=3
KillSignal=SIGINT
[Install]
WantedBy=multi-user.target
